The code below is for production question 1 if they want to know the null items.

In [ ]:
""" WITH categories AS (
  SELECT prod.name, prod.listprice, NTILE(2) OVER (ORDER BY prod.listprice) AS category
  FROM production.product as prod
)
SELECT category
  , CASE
  WHEN category = 1 then 'No List Price'
  WHEN category = 2 then 'Has a List Price'
  END AS categorylabel
  , AVG(prod.listprice) AS "Average List Price", COUNT(prod.name) AS "Total Products"
FROM categories
JOIN production.product AS prod
USING(name)
WHERE prod.productsubcategoryid IS NULL
GROUP BY category
ORDER BY category ASC """