The code below is for production question 1 if they want to know the null items.

In [ ]:
""" WITH categories AS (
  SELECT prod.name, prod.listprice, NTILE(2) OVER (ORDER BY prod.listprice) AS category
  FROM production.product as prod
)
SELECT category
  , CASE
  WHEN category = 1 then 'No List Price'
  WHEN category = 2 then 'Has a List Price'
  END AS categorylabel
  , AVG(prod.listprice) AS "Average List Price", COUNT(prod.name) AS "Total Products"
FROM categories
JOIN production.product AS prod
USING(name)
WHERE prod.productsubcategoryid IS NULL
GROUP BY category
ORDER BY category ASC """

### Production question 2

In [ ]:
"""SELECT SUM(CASE 
  WHEN p.listprice >= (SELECT MIN(listprice) FROM production.product WHERE listprice > 0)
    AND p.listprice <= (SELECT PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
  THEN 1 ELSE 0 END) AS "2.29 to 69.99 (Min to Q1)"
  , SUM(CASE 
  WHEN p.listprice > (SELECT PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
    AND p.listprice <= (SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
  THEN 1 ELSE 0 END) AS "69.99 to 337.22 (Q1 to Median)"
  , SUM(CASE 
  WHEN p.listprice > (SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
    AND p.listprice <= (SELECT PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
  THEN 1 ELSE 0 END) AS "337.22 to 1079.99 (Median to Q3)"
  , SUM(CASE 
  WHEN p.listprice > (SELECT PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY listprice) FROM production.product WHERE listprice > 0)
    AND p.listprice <= (SELECT MAX(listprice) FROM production.product WHERE listprice > 0)
  THEN 1 ELSE 0 END) AS "1079.99 to 3578.27 (Q3 to Max)"
FROM production.product AS p
WHERE listprice > 0
;
"""